:root {
  --primary: #0d6efd;
  --secondary: green;
  --black: #000;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.posts img {
  object-fit: cover;
  width: 100%;
}

.top-section {
  min-height: calc(100vh - 73px);
}