:root {
  --primary: #0d6efd;
  --secondary: green;
  --black: #000;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.posts img {
  object-fit: cover;
  width: 100%;
}

.top-section {
  min-height: 100vh;
  /* background-color: #eaeaea; */
  background: url('denim.webp');
}

.homepage .card {
  padding: 1rem;
}

.nav-pills .nav-link {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nav-pills .nav-item .nav-link {
  font-family: sans-serif;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0;
  transition: all 200ms ease-in-out;
}

.nav-pills .nav-link:hover {
  background: #eaeaea;
}

footer span {
  font-family: sans-serif;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 1rem;
}

.nav-border {
  border-bottom: 4px solid var(--black) !important;
}

.footer-border {
  border-top: 4px solid var(--black) !important;
}

.homepage--cards {
  padding: 1rem !important;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.homepage--cards .card {
  border: 4px solid var(--black);
  margin: 1rem;
  padding: 4rem 1rem;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  transition: all 250ms ease-in-out;
  /* width: 50%; */
  /* grid-area: 1 / 1 / 3 / 3; */
}

.homepage--cards .card:nth-of-type(odd) {
  align-items: flex-start;
}

.homepage--cards .card:nth-of-type(even) {
  align-items: flex-end;
}

.homepage--cards .card:hover {
  background: var(--black);
  color: var(--white);
}

/* .homepage--cards .card::after {
  content: 'Więcej >';
  position: absolute;
  bottom: 10px;
  right: 10px;
} */

.btn {
  border-radius: 0 !important;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: .75rem !important;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: var(--black) !important;
  color: var(--black) !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--black) !important;
}